@charset "utf-8";

/*
- 작성순서 -
1. display(표시)
2. overflow(넘침)
3. float(흐름)
4. position(위치)
5. width/height(크기)
6. padding/margin(간격)
7. border(테두리)
8. background(배경)
9. color/font(글꼴)
10. animation
11. 기타
*/

* { box-sizing: border-box; padding: 0px; margin: 0px; color: #fff; word-break: break-all; }

a { padding: 5px; text-decoration: none; color: #fff; }
a:link { }
a:visited { color: #999; }
a:visited:hover {  }
a:hover { color: #ccc; }
a:active { color: #f90; }

/* Style the header */
header { display: flex; align-items: baseline; height: 50px; background: #000;}
header > h1 { flex: 0 0 210px; padding: 10px; font-size: 20px; }
header > div { flex: 3; text-align: right; display: block; padding-right: 10px; }
header img { height: 30px; }

body { display: flex; flex-direction: column; font-family: Arial, Helvetica, sans-serif; font-size: 14px;}
input, textarea { padding: 5px; border: none; background-color: #000; }
input[type=text], textarea { height: 30px; width: 100% }
button { height: 38px; padding: 9px ; border: 1px solid #000; background-color: #555; font-size: 12px; cursor: pointer; }
select { height: 38px; padding: 5px; border: 1px solid #000; background-color: #333; font-size: 12px; cursor: pointer; }
select option { pacolor: #fff; }

h3 { font-size: 18px; margin-top: 10px;}
h4 { font-size: 16px; margin-top: 10px;}

/* nav 공통 */
nav a:hover { background-color: #000; }
nav a:visited { color: #fff; }
nav a.active { color: #f90; font-weight: bold;}
nav li { display: block; }

/* gnb style */
#gnb { display: flex; justify-content: space-between; align-items: center; height: 40px; width: 100%; padding: 0 10px 0 10px; background: #222; font-size: 15px; }
#gnb ul{ display: flex; flex: auto; }
#gnb li{ flex-shrink: 0; }
#gnb a { padding: 13px; }
.menuTrigger { display: none; flex-shrink: 0; }
.home { flex-shrink: 0; }
.menuTrigger>a:after { content: '\2261'; }
.menu_close>a:after { content: '\0078'; }

/* 검색영역 */
#search { display: flex; flex-shrink: 0; }

.search_form { display: flex; flex-shrink: 0; }
#search input[type=search] { padding: 10px; }
#search button { padding: 10px ; border: 1px solid #000; background-color: #333; font-size: 12px; cursor: pointer; }
.searchTrigger { display: none; }
.searchTrigger:after { content: '검색'; }
.search_close:after { content: '닫기'; }

/* section style */
section { display: flex; height: calc(100vh - 90px); }

/* lnb style */
.lnb { flex: 0 0 200px; overflow-y: auto; padding-top: 10px; background: #222; font-size: 14px; }
.lnb .lnb_set { display: flex; flex-direction: column; }
.lnb h2{ padding: 5px 5px 5px 10px; font-size: 15px; }
.lnb ul{ display: flex; flex-direction: column; }
.lnb li{ flex-shrink: 0; }
.lnb a { display: block; padding: 5px 5px 5px 15px; }


.content { display: flex; flex-direction: column; width: 100%; padding: 0px;}
.content_guide { display: flex; justify-content: space-between; align-items: center; width: 100%; height: 40px; padding: 0 10px 0 10px; background: #000;}
.content_location { display: flex; justify-content: flex-start; align-items: center; }
.content_location font {text-align: left;}
.content_button { display: flex; justify-content: flex-end; }

/* Style the content */
article { overflow-y: auto; width: 100%; height: 100%; padding: 10px; background-color: #444; }

.table_util { display: flex; justify-content: space-between; align-items: center; width: 100%; margin-top: 10px;}
.list_count { flex: 0 0 100px; }
.list_count span { color: #f90; }
.list_util { display: flex; justify-content: flex-end; align-items: center; height: 40px; }
.date_box { display: flex; justify-content: flex-start; align-items: center;}


/* 테이블 스타일 */
table { width: 100%; margin-top: 10px; border-top: 1px solid #000; border-collapse: collapse; background: #222; }
th, td { height: 40px; padding: 0 5px 0 5px; border-bottom: 1px solid #000; text-align: center; }
td { background: #333; text-align: left; }
table select { height:30px;}
.sel_input { display: flex; padding: 5px;}
.radio_box, .check_box {display: inline; margin-right: 10px;}
.paging {display: flex; justify-content: center; align-items: center; margin-top: 10px; }
.paging a, .paging strong{ height: 30px; min-width: 30px; text-align: center; padding-top: 7px ; border: 1px solid #000; background-color: #555; font-size: 12px; cursor: pointer; }

.table_button {display: flex; justify-content: flex-end; margin-top: 10px;}

caption { display: none;}

/* Style the footer */
footer {  height: 70px; padding-top: 10px; background: #000; text-align: center; font-size: 12px; color: #999; }
#footerMenu { margin-top: 5px; }
#footerMenu ul, li, a {display: inline;}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  .search_form { display: none; }
  .lnb { display: none; }

  /* 검색버튼 클릭 시 검색입력창 생성토글 */
  .search_form_display_on { display: flex; }
  .searchTrigger { display: block; }

  /* 햄버거메뉴 버튼 클릭 시 lnb 출력하는 토글 */
  .menuTrigger { display: block; font-size: 18px; }
  .menu_display_on { display: block; }
}

@media (max-width: 360px) {
  .search_form { display: none; }

  /* 검색버튼 클릭 시 검색입력창 생성토글 */
  .searchTrigger { display: block; }
  .search_form_display_on { display: flex; }


  .lnb { display: none; }

  /* 햄버거메뉴 버튼 클릭 시 lnb 출력하는 토글 */
  .menuTrigger { display: block; font-size: 18px; }
  .menu_display_on { display: block; }

  .lnb { padding: 0;}
  .lnb h2{ flex-shrink: 0; padding: 10px; font-size: 14px; }
  .lnb .lnb_set { flex-direction: row; }
  .lnb ul { flex-direction: row; }
  .lnb a { display: block; padding: 10px; color: #fff; }

  section { display: flex; height: 100%; }

  .pc_only_view {display: none;}
}
