@charset "utf-8";

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: #fff;
}

a { text-decoration: none; color: #ffffff; padding: 5px;}
a:link { }
a:visited { }
a:visited:hover {  }
a:hover { color: #cccccc; }
a:active { color: #ff9900; }

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

/* Style the header */
header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  height: 70px;
  width: 100%;
  padding: 0px;
  background: #000000;
  flex-shrink: 0;
}

header > h1 {
  flex: 0 0 250px;
  padding: 10px;
}

header > div {
  flex: 3;
  text-align: right;
  display: block;
  padding-right: 10px;
}

#gnb {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background: #222222;
  height: 38px;
  width: 100%;
}

#gnb ul{
  display: flex;
  flex: 9;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 7px;
}

#gnb li{
  list-style-type:none;
  display: block;

}

.gnblink { text-decoration: none; padding: 10px;}
/* .gnblink:visited { background-color: #ff9900; } */
.gnblink:hover { background-color: #000000; }
.gnblink:active { background-color: #ff9900; }

.gnbFixed {
  position: fixed;
  top: 0px;
}

#search {
  flex: 1;
  text-align: right;
  display: block;
  padding-right: 10px;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
  flex-shrink: 0;
}

#lnb {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 0 0 150px;
  background: #333333;
  /* height: 700px; */
  overflow-y: scroll;
  /* flex-shrink: 0; */
}

#lnb ul{
  display: flex;
  flex-direction: column;
}

#lnb li{
  list-style-type: none;
  display: block;
}
#lnb h3{
  padding: 5px;
}
.lnblink { text-decoration: none; display: block; padding: 5px 5px 5px 10px;}
.lnblink:hover { background-color: #000000; }
.lnblink:active { background-color: #ff9900; }

.content {
  width: 100%;
}

/* Style the content */
article {
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
  background-color: #111;
  padding: 10px;
}

/* Style the footer */
footer {
  text-align: center;
  font-size: 13px;
  height: 70px;
  padding-top: 10px;
  background: #000000;
  color: #999;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
